:root {
  --clr-strong-cyan: hsl(172, 67%, 45%);
  --clr-very-dark-cyan: hsl(183, 100%, 15%);
  --clr-dark-grayish-cyan: hsl(186, 14%, 43%);
  --clr-grayish-cyan: hsl(184, 14%, 56%);
  --clr-light-grayish-cyan: hsl(185, 41%, 84%);
  --clr-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --clr-white: hsl(0, 0%, 100%);
  --fs-default: 24px;
  --border-radius: 15px;
}

@font-face {
  font-family: "Space Mono";
  src: url(../Space_Mono/SpaceMono-Bold.ttf);
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: "Space Mono";
}

input,
button {
  font-family: inherit;
  border: none;
}

body {
  background-color: var(--clr-light-grayish-cyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.title {
  color: var(--clr-dark-grayish-cyan);
  text-transform: uppercase;
}

.bill {
  width: 100%;
}
.bill__container {
  width: 77%;
  background-color: var(--clr-white);
  padding: 2rem;
  margin-inline: auto;
  border-radius: var(--border-radius);
  display: flex;
  gap: 2rem;
  align-items: stretch;
}
.bill__container > * {
  flex: 1;
}
.bill__inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.bill__input {
  background-color: var(--clr-light-grayish-cyan);
  border: none;
  padding: 1rem;
  border-radius: var(--border-radius);
  text-align: end;
  font-size: var(--fs-default);
  width: 100%;
}
.bill__input:focus {
  outline: none;
  padding: 1rem 1.1rem;
}
.bill__input--container {
  display: flex;
  flex-direction: column;
}
.bill__logo {
  width: 24px;
  position: absolute;
  top: 1rem;
  left: 10px;
}
.bill__text {
  font-size: 24px;
  color: var(--clr-dark-grayish-cyan);
}
.bill__tips--container {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
.bill__tip {
  padding: 0.7rem;
  font-size: var(--fs-default);
  border-radius: 7px;
  background-color: var(--clr-very-dark-cyan);
  color: var(--clr-white);
  width: 29%;
}
.bill__tip--custom {
  background-color: var(--clr-light-grayish-cyan);
  color: var(--clr-very-dark-cyan);
}
.bill__tip--custom::placeholder {
  text-align: start;
}
.bill__tip--custom:focus {
  outline: none;
  width: 30%;
}
.bill__output {
  background-color: var(--clr-very-dark-cyan);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
.bill__total {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.bill__amount {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.bill__amount--text {
  display: flex;
  flex-direction: column;
  color: var(--clr-white);
  font-size: var(--fs-default);
}
.bill__amount--text span {
  color: var(--clr-grayish-cyan);
}

.relative {
  position: relative;
}

.reset {
  background-color: var(--clr-strong-cyan);
  opacity: 0.2;
  padding: 1rem 2rem;
  font-size: var(--fs-default);
  transition: all 0.2s ease-in;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  color: var(--clr-very-dark-cyan);
}
.reset.active {
  opacity: 1;
}

.number {
  display: flex;
  align-items: center;
  font-size: 3rem;
  color: var(--clr-strong-cyan);
}

.active-tip {
  background-color: var(--clr-strong-cyan);
  color: var(--clr-very-dark-cyan);
}

.red {
  border: red 1px solid;
}

@media only screen and (max-width: 900px) {
  body {
    gap: 1rem;
    padding-block-start: 2rem;
  }
  .bill__container {
    flex-direction: column;
  }
  .bill__output {
    gap: 4rem;
  }
}
@media only screen and (max-width: 600px) {
  .bill__container {
    width: 100%;
    border-radius: 40px;
  }
  .bill__amount--text {
    font-size: 16px;
  }
  .bill__tips--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .bill__tip {
    width: 100%;
  }
  .bill__tip--cutom::placeholder {
    text-align: end;
  }
  .bill__tip--custom:focus {
    width: 100%;
  }
  .number {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
